<h1>Users</h1>

{{#each seats}}
    <div>
        <div>Name: {{user}}</div>
        <div>Email: {{id}}</div>
        
        <a href="/seats/{{this._id}}">Show {{this.id}}</a>
        <a href="/seats/{{this._id}}/delete">Delete {{this.flight}}</a>
        <a href="/seats/{{this._id}}/edit">Edit {{this.user}}</a>
    </div>
{{/each}}

<div><a href="/seats/new">Create a new User</a></div>