<h1>Flights</h1>

<div class="flight-index">
{{#each flights}}
    <div class="flight-box">
        <img src="{{this.img}}" alt="{{this.name}}">
       
        
        <div>Name: {{this.name}}</div>
    
        <a href="/flights/{{this._id}}">Show {{this.name}}</a>
        
    </div>
{{/each}}
</div>