<h1>Cameron Gunter</h1>

<h1>{{flight.name}}</h1>
<p>{{flight.info}}</p>
<p>{{flight.arrival}}</p>
<p>{{flight.departure}}</p>
{{!-- {{#each flights}}
    <div>
        {{!-- <div>Name: {{this.name}}</div> --}}
        {{!-- <div>Email: {{flight.info}}</div>
        <div>Arrival:{{this.arrival}}</div>
        <div>Departure:{{this.departure}}</div>
        <div>Seats:{{this.seats}}</div>
        <p>whaddup</p>
    
        <a href="/flights/{{this._id}}">Show {{this.name}}</a>
        {{!-- <a href="/flights/{{this._id}}/delete">Delete {{this.info}}</a> --}}
        {{!-- <a href="/flights/{{this._id}}/edit">Edit {{this.name}}</a>
    </div>
{{/each}} --}} 

{{!-- <div><a href="/flights">Create a new Flight</a></div> --}}