{{!-- <h1>Edit Soda</h1>
<form method="POST" action="/flights/{{flightId}}/seats/{{seat._id}}?_method=PATCH">
 {{!-- <div>
    <label for="name">Name of Soda</label>
    <input type="text" name="name" value="{{soda.name}}">
  </div>
  <div>
    <label for="price">Price</label>
    <input type="text" name="price" value="{{soda.price}}">
  </div>
  <div>
    <label for="packaging">Packaging</label>
    <select name="packaging" selected="{{soda.packaging}}">
      <option value="can">Can</option>
      <option value="bottle">Bottle</option>
    </select>
  </div>
  <div>
    <label for="quantitySold">Quantity Sold</label>
    <input type="text" name="quantitySold" value="{{soda.quantitySold}}">
  </div> --}}
{{!--   
  <button type="submit">Edit</button>
  

</form>
<a href="/flights/{{flightId}}/seats/{{seat._id}}">Go Back</a> --}} 

<div class="stepper">
    <a href="/">Home</a> 
</div>

<div class="card">
    <h2>Edit seat Profile</h2>
    <div>
        <form action="/flights/{{flightId}}/seats/{{seat._id}}?_method=PATCH" method="POST">
            <div class="form-input">
                <label for="row">row:</label>
                <input type="text" name="row" value="{{seat.row}}" required/>
            </div>

            <div class="button-container flex-end">
                <input class="button primary" type="submit" value="Update Profile">
                <a href="/" class="button warning">Cancel</a>
            </div>
        </form>
        <form method="POST" action="/flights/{{flightId}}/seats/{{seat._id}}?_method=DELETE">
            <button type="submit">Delete</button>
        </form>
    </div>
</div>