<h1>Seats</h1>
<p>Name: {{name}}</p>
<p>Seat: {{id}}</p>

{{!-- {{#each seats}}
    <div>
        <div>Name: {{first_name}}</div>
        <div>Email: {{info}}</div>
        
        {{!-- <a href="/seats/{{this._id}}">Show {{this.id}}</a> --}}
        {{!-- <a href="/seats/{{this._id}}/delete">Delete {{this.flight}}</a> --}}
        {{!-- <a href="/seats/{{this._id}}/edit">Edit {{this.user}}</a> --}}
    {{!-- </div>
{{/each}} --}} 

{{!-- {{#each seats}} --}}
{{!-- <div>{{_id}}<a href="/flights/{{../flight._id}}/seats/{{_id}}/edit">Edit Seats</a></div> --}}

<div>{{_id}}<a href="./seats/{{_id}}/edit">Edit Seats</a></div>
{{!-- {{/each}} --}}