<h1>User {{seat.user}}</h1>

<div>Name: {{seat.id}}</div>
<div>Email: {{seat.id}}</div>

{{#each seat}}
    <div>
        {{user}}
        {{!-- <a href="/seats/{{_id}}/items/{{_id}}">Show Item</a> --}}
    </div>
{{/each}}

<div>
    <a href="/seats/{{seat.id}}/delete">Delete</a>
    <a href="/seats/{{seat.id}}/edit">Edit</a>
</div>
<br>
<div>
    <a href="/seats">Back to Users</a>
</div>